body {
    background-color: rgba(245, 248, 255, 1);
    font-family: "Noto Serif", serif;
    margin: 0;
}

.width {
    width: 1140px;
    margin: auto;
}

/* nav style  */

.logo {
    margin-top: 30px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shop {
    gap: 48px;

}

.shop li {
    font-size: 16px;
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
    list-style: none;
}

/* Banner section  */

.fresh {
    margin: 120px 0;
}

.flowers h3 {
    font-size: 65px;
    font-weight: 700;
    color: rgba(233, 90, 8, 1);
}

span {
    color: black;
}

.flowers p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 400;
}

/* plant section  */

.plant h3 {
    font-size: 50px;
    font-weight: 700;
    margin: 0;
}

.plant p {
    margin: 16px 0 49px;
}

span {
    color: rgba(233, 90, 8, 1);
}

.plant {
    text-align: center;
}

.lily {
    width: 270px;
    text-align: center;
}

.lily .blossom {
    font-size: 22px;
    font-weight: 500;
    margin: 30px 0 20px;
}

.usd {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.button {
    background-color: rgba(233, 90, 8, 1);
    font-size: 16px;
    font-weight: 600;
    padding: 19px 0px;
    width: 270px;
    border: none;
    margin-top: 30px;
    color: white;
}

.lily {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 30px;

}

/* flower & plants  */

.flower-lover {
    display: flex;
    gap: 60px;
    margin-top: 210px;
    align-items: center;
    justify-content: space-between;
}

.flower-plant {
    width: 540px;
}

.flowers-lover h3 {
    font-size: 50px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    margin: 0;
}

.flowers-lover li {
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

/* Latest  Deals section  */
.deals h3 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin: 133px 0 16px;
}

.span {
    color: #E95A08;
}

.beauty {
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 120px; 
    width: 70%;
    margin: auto;
}

/* Latest  Deals section */

.bloom {
    background-image: url("/assets/deal-bloom.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
    /* width: 366px; */
    height: 206px;
    border-radius: 15px;
    color: rgba(255, 255, 255, 1);

}

.zoba {
    background-image: url("/assets/deal-zabo.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    grid-column: span 2;
    grid-row: span 2;
    text-align: center;
    /* width: 753px; */
    /* height: 424px; */
    font-size: 40px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    border-radius: 15px;
}

.ana {
    background-image: url("/assets/deal-ana.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
    /* width: 366px; */
    height: 206px;
    border-radius: 15px;
    color: rgba(255, 255, 255, 1);
}

.garden {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
    color: rgba(255, 255, 255, 1);
}

.bloom,
.ana p {
    font-size: 20px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.garden p {
    color: white;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop {
    text-decoration: underline;
}


/* colorful section  */
.join {
    background-image: url("/assets/news-letter-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 120px;
    padding: 199px 0 193px;
}

.join h2 {
    font-size: 50px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.color {
    display: flex;
    justify-content: center;
    align-items: center;
}

#email {
    align-items: center;
    padding: 8px 20px;
    width: 644px;
    height: 50px;
}

.btn {
    background-color: rgba(233, 90, 8, 1);
    padding: 26px 50px;
    border: none;
    color: white;
    font-size: 16px;
}

/* footer section  */
.home {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 110px;
    list-style: none;
    margin: 50px 0px;
}

.icon {
    display: flex;
    align-items: start;
    gap: 10px;

}

.icon img {
    width: 36px;
    height: 36px;
}

.width li {
    margin-bottom: 32px;
    color: rgba(107, 114, 128, 1);
}

footer p {
    font-size: 22px;
    font-weight: 400;
    margin-top: 16px;
}

footer p {
    color: rgba(0, 0, 0, 0.5);
}

.asset{
    /* grid-column: span 2; */
}