body {
    background-color: rgba(245, 248, 255, 1);
    font-family: "Noto Serif", serif;
    width: 1140px;
    margin: auto;
}

/* nav style  */

.logo {
    margin-top: 30px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shop {
    gap: 48px;

}

.shop li {
    font-size: 16px;
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
    list-style: none;
}

/* Banner section  */

.fresh {
    margin: 120px 0;
}

.flowers h3 {
    font-size: 65px;
    font-weight: 700;
    color: rgba(233, 90, 8, 1);
}

span {
    color: black;
}

.flowers p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 400;
}

/* plant section  */

.plant h3 {
    font-size: 50px;
    font-weight: 700;
    margin: 0;
}

.plant p {
    margin: 16px 0 49px;
}

span {
    color: rgba(233, 90, 8, 1);
}

.plant {
    text-align: center;
}

.lily {
    width: 270px;
    text-align: center;
}

.lily .blossom {
    font-size: 22px;
    font-weight: 500;
    margin: 30px 0 20px;
}

.usd {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.button {
    background-color: rgba(233, 90, 8, 1);
    font-size: 16px;
    font-weight: 600;
    padding: 19px 0px;
    width: 270px;
    border: none;
    margin-top: 30px;
    color: white;
}

.lily {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 30px;

}

/* flower & plants  */

.flower-lover {
    display: flex;
    gap: 60px;
    margin-top: 210px;
    align-items: center;
    justify-content: space-between;
}

.flower-plant {
    width: 540px;
}

.flowers-lover h3 {
    font-size: 50px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    margin: 0;
}

.flowers-lover li {
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

/* Latest  Deals section  */
.deals h3 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin: 133px 0 16px;
}

.span {
    color: #E95A08;
}

.deals p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

/* Latest  Deals section */

.bloom {
    background-image: url("/assets/deal-bloom.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
    width: 366px;
    height: 206px;
    border-radius: 15px;
}

.zoba {
    background-image: url("/assets/deal-zabo.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    grid-column: span 2;
    grid-row: span 2;
    text-align: center;
    width: 753px;
    height: 423px;
    font-size: 40px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    border-radius: 15px;
}

.ana {
    background-image: url("/assets/deal-ana.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
    width: 366px;
    height: 206px;
    border-radius: 15px;
}

.garden {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
}

.bloom,
.ana p {
    font-size: 20px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    text-align: center;

}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop{
    text-decoration: underline;
}