body {
    background-color: rgba(245, 248, 255, 1);
    font-family: "Noto Serif", serif;
    width: 1140px;
    margin: auto;
}

/* nav style  */

.logo {
    margin-top: 30px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shop {
    gap: 48px;

}

.shop li {
    font-size: 16px;
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
    list-style: none;
}

.fress {
    margin: 120px 0;
}

.flowers h3 {
    font-size: 65px;
    font-weight: 700;
    color: rgba(233, 90, 8, 1);
}

span {
    color: black;
}

.flowers p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 400;
}